body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #531111;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    background-color: #19911d;
    color: white;
    padding: 1em;
    text-align: center;
    width: 100%;
}

main {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #3a0da3;
    font-size: 16px;
    margin-top: 20px;
}

p {
    font-size: 30px;
    color: #333;
}